{
  "presets": [
    ["env", {
      "debug": false,
      "modules": false
    }],
      "react",
      "es2015",
      "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "dynamic-import-node",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-react-jsx-source"
  ]
}

