# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies

/northfacebook_frontend/node_modules
/northfacebook_backend/db.sqlite3
/northfacebook_backend/homepage/migrations
/northfacebook_backend/homepage/__pycache__
/northfacebook_backend/northfacebook_backend/__pycache__


# testing
/northfacebook_frontend/coverage

# production
/northfacebook_frontend/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
