language : generic

matrix:
  include:
    -language: python
    python: 
    -3.5.1
    before_install: 
      -cd backend/
    install: 
      -sudo pip3 install -r requirements.txt
    script:
      -sudo python3 manage.py test

    -language: node_js
    node_js: 
    -6.9.4
    -node
    before_install: 
      -cd frontend/
    install:
      -sudo npm install 
    script: 
      -sudo npm test 

notifications:
  email: sally20921@snu.ac.kr


    
   
