html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.app{
  margin: auto;
  padding: auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000000;
  background-color: #f7f7f7;
}
li{
	list-style: none;
}
a:hover, a:visited, a{
	text-decoration: none;
}

/* heading */
h1,h2,h3,h4,h5,h6{
  font-family: 'Bree Serif', serif;
  text-align: center;
  line-height:60px;
}
.h_white{
  color:#000;
  border-bottom:1px solid #d8d8d8;
}
.h_black{
  background:#000;
  color:#fff;
  border-bottom:1px solid #d8d8d8;
}

/* layout */
.wrap{
  width:100%;
  max-width: 1080px;
  margin:0 auto
}

.col3 > div{
  float:left;
}

.col3 > .aside{
  width:24%;
}

.col3 > .main{
  width:48%;
  margin:20px 2%;
}

.main{
  width:48%;
  margin:20px auto;
}

header {
  width: 100%;
  background-color: #e26e65;
  font-family: 'Noto Sans KR', sans-serif;
}
.logo{
  width: 135px;
  height: 40px;
  margin-top: 18px;
  background: url("./login_logo.png") no-repeat;
  background-size:120px;
  float:left;
  display:inline-block;
}
.navBar{
  text-align:right;
}
.navBar li {
  display:inline-block;
  list-style: none;
  font-size: 14px;
  color: #fff;
}
.navBar a {
  box-sizing: border-box;
  display:block;
  padding:20px 40px;
  color: #fff;

}

.clear:after{
  content:'';
  display: block;
  height:0;
  clear:both;
}

section > div{
  margin:20px 0; /* margin: 20px 0 20px 0 */
  padding-bottom : 50px;
  background:#fff;
  box-sizing: border-box;
}

.content{
  padding:20px;
}





.Button-Field{
  box-sizing: border-box;
  font-size: 12px;
  color: black;
  padding: 10px 0px 10px 0px;
  margin: 10px 60px 10px 60px;

}

button{
  width: 100%;
  height: 40px;
  border-radius: 21px;
  border: none;
  box-shadow: 2px 3px 7px 0 rgba(243, 138, 138, 0.5);
  background-color: #c13a3a;
  color: #fff;
}
*:focus {
    outline: none;
}
.button_white{
  border-radius: 21px;
  box-shadow: 2px 4px 7px 0 rgba(244, 137, 137, 0.5);
  border: solid 2px #c13a3a;
  background-color: #fff;
  color: #c13a3a;
}

.module_title{
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  text-align: center;
  line-height:100px;
}

.TimeLine{
  text-align: center;
  position: absolute;
  top: 150px;
  left: 23em;
  right:20em;
  padding-bottom: 50px;
}

.tagLabel{
  font-size: 15px;
}
.divider{
  width:1em;
  height:auto;
  display:inline-block;
}

.Tags{
  text-align: justify;
}


/* Login Page css */


.Text-Field{
  line-height: 20px;
  font-size: 10px;
  color: black;
  margin: 0px 60px;
  padding: 10px 0px;

}

.label{
  display:inline-block;
  width: 100%;
  margin: 20px 0px;
  padding: 20px;
  background-color: rgba(237,156,156,0.5);
  font-size: 10px;
}

input{
  box-sizing: border-box;
  display:block;
  width: 100%;
  height: 40px;
  border-radius: 21px;
  border: solid 2px #e0e0e0;
  margin: 0px;
  padding: 0px 15px;
  font-size: 16px;
  background-color: #fff
}

input:focus{
  border: solid 2px #C13A3A;
  outline: none;
  background-color: #fff
}





/* SignUp Page css */




#to_main{
    border: none;
    width: 135px;
    height: 19px;
    position: absolute;
    top: 20px;
    left: 30px;
    background: url("./login_logo.png") no-repeat;
    background-size: contain;
}
/* 프로필 사진 크기 조정 */
.PROFILEIMG{
    width: 50px;
}

#p_img{
    width: 200px;
}

/* 일반적인 버튼 및 textarea등 태그에 대한 css */
.bordered_textarea{
  box-sizing: border-box;
  color: #999999;
  display:block;
  width: 100%;
  height: 40px;
  border-radius: 21px;
  border: solid 2px #e0e0e0;
  margin: 0px;
  padding: 6px 15px;
  font-size: 16px;
}

hr{
  color: rgb(237,30,39);
  font-family: 궁서;
}



img{
  width: 700px;
}


*{
	margin: 0;
	padding: 0;
}

.clear_fix{
	overflow: auto;
}


.reset_save a{
  font-size: 12px;
  color: #ffff00;
}


/* ====================
[3] t-shirt design area
==================== */
.design_area{
	margin: 0 auto;
	position: relative;
	width: 504px;
	height: 504px;
}

.canvas_area_front,
.canvas_area_back{
    position: absolute;
    width: 192px;
    height: 302px;
    top: 50%;
    left: 50%;
    margin: -151px 0 0 -96px;
}

.canvas_area_back{
	display: none;
}

.design_area canvas{
    border: 1px dashed #757575;
}


/* ====================
[4] right help area
==================== */
.help_area{
    display: inline-block;
    background-color: #f1f1f1;
    padding: 6px 20px;
    text-align: center;
    position: absolute;
    top: 100px;
    right: 20px;
}

.help_window_wrapper{
    position: relative;
}

.help_window{
    visibility: hidden;
    padding: 9px 14px;
    position: absolute;
    top: -8px;
    right: 45px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 9px 1px #CCCCCC;
}

.help_window::before{
    content: "";
    position: absolute;
    top: 22px;
    right: -20px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.help_window p{
    text-align: left;
}

.help_window p span{
    font-weight: bold;
    margin-left: 5px;
}


/* ====================
[5] left design tool
==================== */
.design_tool{
    position: absolute;
    display: inline-block;
    top: 100px;
    left: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 9px 1px #CCCCCC;
}

.design_tool ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.design_tool ul li {
    border-bottom: 1px solid #CCCCCC;
}

.design_tool ul li:last-child {
    border-bottom: none;
}

.design_tool ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.design_tool ul li a span{
	margin-left: 16px;
}

.design_tool .add_text{
	position: relative;
}

.text_tool_window{
	padding: 9px 14px;
	visibility: hidden;
    position: absolute;
    top: -38px;
    left: 45px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 9px 1px #CCCCCC;
}


/* Popup arrow */
.text_tool_window::before {
    content: "";
    position: absolute;
    top: 45px;
    left: -15px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}


/* Toggle this class - hide and show the popup */
.help_area .show,
.add_text .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.help_area a,
.help_area a:hover{
    color: #000;
    text-decoration: none;
}


/* animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.help_window .header,
.text_tool_window .header{
	border-bottom: 1px solid #9E9E9E;
    padding-bottom: 5px;
}
.help_window .title,
.text_tool_window .title{
	float: left;
}

.help_window #close_help_window,
.text_tool_window #close_window{
	float: right;
}

.text_tool_window .font_area{
	float: left;
}

.text_tool_window .color_area{
	float: right;
}

.font_area p,
.color_area p,
.font_style p{
    margin-bottom: 10px;
}

#text_area, .wrapper,
.font_style, .font_size
{
    margin-top: 25px;
}

.text_tool_window #text_area{
    overflow: hidden;
    height: 50px;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #BDBDBD;
}

.text_tool_window select{
	padding: 5px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9C9D98;
    border-radius: 3px;
    box-shadow: 0 2px 2px #CFD0CB inset, 0 2px 2px rgba(0, 0, 0, 0.2);
}

.color_area input{
    width: 20px;
    height: 30px;
    background: #fff;
    padding: 2px;
    border-radius: 3px;
}

/* ====================
[6] front-back button section
==================== */
.change_side{
	text-align: center;
    margin-top: 20px;
}

.change_side button{
	background-color: #e7e7e7;
    color: black;
    border: 0;
    padding: 16px 32px;
    margin: 4px 2px;
}

/* ====================
[7] product modal
==================== */
.product_details{
	float: left;
    width: 270px;
    text-align: center;
}

.product_details img{
    width: 250px;
}


/* ====================
[8] preview image modal
==================== */
#previewModal .modal-body{
    text-align: center;
}

#previewModal .canvas_wrapper{
    margin-bottom: 20px;
}

#previewModal .canvas-container{
    margin: 0 auto;
}

#back_preview{
    margin-top: 40px;
    margin-bottom: 40px;
}

#previewModal a,
#previewModal a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #EF6C00;
    padding: 11px 16px;
    border-radius: 3px;
}

#previewModal a span{
    margin-left: 5px;
}

 /* styles for tab browsers smaller than 800px; */
@media (max-width: 800px){
    .design_tool ul li a span{
        display: none;
    }
    .design_tool ul{
        width: auto;
    }
}

/* Canvas */
#main-canvas{
    background: #ccc;
    background: url('./img/tshirt1_front.jpg');
    background-repeat: repeat;
    border:1px solid #ececec;
    margin: 10px auto;
    display: block;
  
  }