html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000000;
  background-color: #f7f7f7;
}
li{
	list-style: none;
}
a:hover, a:visited, a{
	text-decoration: none;
}

/* heading */
h1,h2,h3,h4,h5,h6{
  font-family: 'Bree Serif', serif;
  text-align: center;
  line-height:60px;
}
.h_white{
  color:#000;
  border-bottom:1px solid #d8d8d8;
}
.h_black{
  background:#000;
  color:#fff;
  border-bottom:1px solid #d8d8d8;
}

/* layout */
.wrap{
  width:100%;
  max-width: 1080px;
  margin:0 auto
}

.col3 > div{
  float:left;
}

.col3 > .aside{
  width:24%;
}

.col3 > .main{
  width:48%;
  margin:20px 2%;
}

.main{
  width:48%;
  margin:20px auto;
}

header {
  width: 100%;
  background-color: #e26e65;
  font-family: 'Noto Sans KR', sans-serif;
}
.logo{
  float:left;
}
.navBar{
  text-align:right;
}
.navBar li {
  display:inline-block;
  list-style: none;
  font-size: 14px;
  color: #fff;
}
.navBar a {
  display:block;
  padding:20px 40px;
  color: #fff;
}

.clear:after{
  content:'';
  display: block;
  height:0;
  clear:both;
}

section > div{
  margin:20px 0; /* margin: 20px 0 20px 0 */
  background:#fff;
  box-sizing: border-box;
}

.content{
  padding:10px;
}




.Notif{
  position: fixed;
  left: 8em;
  right: 3em;
  top: 1em;
}
.TOMAIN{
  cursor: pointer;
  border: none;
  float: left;
  width: 200px;
  height: 80px;
  position: fixed;
  top: 8px;
  font-size: 25px;
  background: url('login_logo.png');
  background-repeat: no-repeat;
  background-size: 8em 5em;
  background-color: rgb(237,30,39);
}
.Notif_button{
  float: right;
  width: 6em;
  height: 2em;
  top: 20px;
  left: 30em;
  font-size: 25px;
  background-color: rgb(237,30,39);
  color: black;
}
.Link{
  cursor: pointer;
}
.Change{

  background-color: rgba(237,237,128,0.5);
}


button{
  width: 340px;
  height: 42px;
  border-radius: 21px;
  box-shadow: 2px 3px 7px 0 rgba(243, 138, 138, 0.5);
  background-color: #c13a3a;
}
.half_button{
  width: 160px;
  height: 42px;
}
.half_button_white{
  width: 160px;
  height: 42px;
  border-radius: 21px;
  box-shadow: 2px 4px 7px 0 rgba(244, 137, 137, 0.5);
  border: solid 2px #c13a3a;
  background-color: #ffffff;
}
.full_button{
  width: 340px;
  height: 42px;
}

button#post_button_field{
  margin-left: 70px;
  font-family: 궁서;
}

.TimeLine{
  text-align: center;
  position: absolute;
  top: 150px;
  left: 23em;
  right:20em;
  padding-bottom: 50px;
}

.tagLabel{
  font-size: 15px;
}
.divider{
  width:1em;
  height:auto;
  display:inline-block;
}

.Tags{
  text-align: justify;
}
.label{
  background-color: rgba(237,156,156,0.5);
}

/* Login Page css */
.app{
  background-image: url('login_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  width: 50%;
  padding: auto;
}
.Login-Box{
  margin: 80px;
  padding: 80px;
  width: 500px;
  height: 30px;
  opacity: 0.7;
}
.Text-Field{
  font-size: 2em;
  color: white;
  font-style: bold;
  margin: 10px;
  filter: alpha(opacity=70);
}
.Button-Field{
  font-size: 2em;
  color: white;
}
#sign_in{
  width: 10em;
  height: 1.5em;
  color: white;
  font-size: 30px;
  background-color:rgb(237,30,39);
  font-size: 20px;
  width: 120px;
  height: 40px;
}
#sign_up{
  width: 10em;
  height: 1.5em;
  color: white;
  font-size: 30px;
  background-color:rgb(237,30,39);
  font-size: 20px;
  width: 200px;
  height: 40px;
}
/* SignUp Page css */
.SIGNUP{
  width: 10em;
  height: 1.5em;
  font-weight: bold;
  color: white;
  font-size: 30px;
  background-color:rgb(237,30,39);
}
.box{
    position: static;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
#to_main{
    border: none;
    width: 120px;
    height: 75px;
    position: absolute;
    top: 20px;
    left: 30px;
    background: url("./login_logo.png") no-repeat;
    background-size: contain;
}
/* 프로필 사진 크기 조정 */
.PROFILEIMG{
    width: 50px;
}

#p_img{
    width: 200px;
}

/* 일반적인 버튼 및 textarea등 태그에 대한 css */
textarea{
  font-size: 20px;
  font-family: 궁서;
}
hr{
  color: rgb(237,30,39);
  font-family: 궁서;
}
input{
   width: 130px;
   height: 30px;
   font-size: 18px;
  font-family: 궁서;
}
/* body{
  background-attachment: fixed;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 궁서;
} */
img{
  width: 700px;
}
