html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.app{
  margin: auto;
  padding: auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000000;
  background-color: #f7f7f7;
}
li{
	list-style: none;
}
a:hover, a:visited, a{
	text-decoration: none;
}

/* heading */
h1,h2,h3,h4,h5,h6{
  font-family: 'Bree Serif', serif;
  text-align: center;
  line-height:60px;
}
.h_white{
  color:#000;
  border-bottom:1px solid #d8d8d8;
}
.h_black{
  background:#000;
  color:#fff;
  border-bottom:1px solid #d8d8d8;
}

/* layout */
.wrap{
  width:100%;
  max-width: 1080px;
  margin:0 auto
}

.col3 > div{
  float:left;
}

.col3 > .aside{
  width:24%;
}

.col3 > .main{
  width:48%;
  margin:20px 2%;
}

.main{
  width:48%;
  margin:20px auto;
}

header {
  width: 100%;
  background-color: #e26e65;
  font-family: 'Noto Sans KR', sans-serif;
}
.logo{
  float:left;
}
.navBar{
  text-align:right;
}
.navBar li {
  display:inline-block;
  list-style: none;
  font-size: 14px;
  color: #fff;
}
.navBar a {
  display:block;
  padding:20px 40px;
  color: #fff;
}

.clear:after{
  content:'';
  display: block;
  height:0;
  clear:both;
}

section > div{
  margin:20px 0; /* margin: 20px 0 20px 0 */
  padding-bottom : 50px;
  background:#fff;
  box-sizing: border-box;
}

.content{
  padding:10px;
}

.Notif_button{
  float: right;
  width: 6em;
  height: 2em;
  top: 20px;
  left: 30em;
  font-size: 25px;
  background-color: rgb(237,30,39);
  color: black;
}

.Link{
  cursor: pointer;
}

.Change{
  background-color: rgba(237,237,128,0.5);
}

.Button-Field{
  box-sizing: border-box;
  font-size: 12px;
  color: black;
  padding: 10px 0px 10px 0px;
  margin: 0px 60px 0px 60px;

}

button{
  width: 100%;
  height: 40px;
  border-radius: 21px;
  box-shadow: 2px 3px 7px 0 rgba(243, 138, 138, 0.5);
  background-color: #c13a3a;
  color: #fff;
}

.button_white{
  border-radius: 21px;
  box-shadow: 2px 4px 7px 0 rgba(244, 137, 137, 0.5);
  border: solid 2px #c13a3a;
  background-color: #fff;
  color: #c13a3a;
}

.module_title{
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  text-align: center;
  line-height:100px;
}

.TimeLine{
  text-align: center;
  position: absolute;
  top: 150px;
  left: 23em;
  right:20em;
  padding-bottom: 50px;
}

.tagLabel{
  font-size: 15px;
}
.divider{
  width:1em;
  height:auto;
  display:inline-block;
}

.Tags{
  text-align: justify;
}


/* Login Page css */


.Text-Field{
  line-height: 20px;
  font-size: 10px;
  color: black;
  margin: 0px 60px;
  padding: 10px 0px;

}

.label{
  display:inline-block;
  width: 100%;
  margin: 20px 0px;
  padding: 20px;
  background-color: rgba(237,156,156,0.5);
  font-size: 10px;
}

input{
  box-sizing: border-box;
  display:block;
  width: 100%;
  height: 40px;
  border-radius: 21px;
  border: solid 2px #e0e0e0;
  margin: 0px;
  padding: 0px 15px;
  font-size: 20px;
}



/* SignUp Page css */




#to_main{
    border: none;
    width: 120px;
    height: 75px;
    position: absolute;
    top: 20px;
    left: 30px;
    background: url("./login_logo.png") no-repeat;
    background-size: contain;
}
/* 프로필 사진 크기 조정 */
.PROFILEIMG{
    width: 50px;
}

#p_img{
    width: 200px;
}

/* 일반적인 버튼 및 textarea등 태그에 대한 css */
textarea{
  font-size: 20px;
  font-family: 궁서;
}

hr{
  color: rgb(237,30,39);
  font-family: 궁서;
}



img{
  width: 700px;
}
