<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="gwajams" />
  <meta name="author" content="https://github.com/swapp201901-team9/full-stack-web-development" />
  <title>gwajams</title>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Noto+Sans+KR" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <header class="clear">
    <div class="wrap">
      <h1 class="logo">LOGO</h1>
      <nav class="navBar">
        <ul>
          <li><a href="#">LOG IN</a></li>
          <li><a href="#">JOIN</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="wrap clear col3">
    <div class="aside">
      <h2 class="h_white">SELECT STYLE</h2>
      <div class="content">
        <p>text</p>
        <p>text</p>
        <p>text</p>
        <p>text</p>
        <p>text</p>
      </div>
    </div>
    <div class="main">
      <h2 class="h_white">SAMPLE VIEW</h2>
      <div class="content">
        <p>text</p>
        <p>text</p>
        <p>text</p>
        <p>text</p>
        <p>text</p>
      </div>
    </div>
    <div class="aside">
      <h2 class="h_black">MY GROUP</h2>
      <div class="content">
        <p>text</p>
        <p>text</p>
        <p>text</p>
        <p>text</p>
        <p>text</p>
      </div>
    </div>
  </section>
</body>
</html>
