<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="gwajams" />
  <meta name="author" content="https://github.com/swapp201901-team9/full-stack-web-development" />
  <title>gwajams</title>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Noto+Sans+KR" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
</head>
<body background-color = "#f7f7f7">
  <nav id = "navBar">
    <ul>
      <li><a href="#">LOG IN</a></li> <li><a href="#">JOIN</a></li>
    </ul>
  </nav>
  <div id = "selectStyle"> palette </div>
  <div id = "viewSample"> view </div>
  <div id = "myGroup"> mygroup </div>

</body>
</html>
